/*BG Color */
.bg-primary{background-color: #007bff !important;}
.bg-info{background-color: #17a2b8 !important;}
.bg-success{background-color: #28a745 !important;}
.bg-warning{background-color: #ffc107 !important;}
.bg-danger{background-color: #dc3545 !important;}
.bg-yellow{background-color: #f39c12 !important;}

/*Color*/
.primary{color: #007bff !important;}
.info{color: #17a2b8 !important;}
.success{color: #28a745 !important;}
.warning{color: #ffc107 !important;}
.danger{color: #dc3545 !important;}
.yellow{color: #f39c12 !important;}

body{
    zoom: 0.9 !important;   


    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

/*Nav Nav-bar*/
.navbar{ //padding: 8px 8px !important
}
.navbar-expand{background-color: #3c8dbc; padding: 0 !important;}
.navbar-light .navbar-nav .nav-link{ color:#FFFFFF; 
    height: auto;
    padding: 15px 15px !important; 
}
.layout-navbar-fixed .wrapper .main-header{ /*height:8.5%;*/}
.main-header >.navbar-nav>li>a:hover, .main-header >.navbar-nav>li>a:focus, .main-header >.navbar-nav>.show>a, .main-header >.navbar-nav>.show>a:active{color: #FFFFFF !important; background:#367fa9 !important; text-decoration:none}
.dropdown-menu{margin-top:1px !important; border-radius: 0px 0px 5px 5px; /*border: 1px solid #f4f6f9; */}/*box-shadow remove box-shadow:unset !important; */
.main-header >.navbar-nav > li > .dropdown-menu-left{left:0;} /*dropdown menu show from left, Cusotme Code*/
.main-header .navbar-nav .nav-item > .btn {margin: 14px 0px 10px 0px; color: #ffffff; border-color: #ffffff;}
.main-header .navbar-nav .nav-item > btn:focus, .main-header .navbar-nav .nav-item > button:active, .main-header .navbar-nav .nav-item > button:hover {background:#367fa9 !important;}
.navbar-light >.navbar-nav> .nav-item-btn {margin-left:5px !important; margin-right:5px !important;}


.badge{ font-weight:normal; padding: 2px 4px; font-size: 10px; top: 9px; line-height: .9; right: 5px;}
.dropdown-menu-lg { min-width: 280px !important; padding: 0; }
.navbar-nav>li>a{color: #ffffff; list-style:none; display:block !important;}
.navbar-nav > .user-menu .user-image{width: 1.9rem; height: 1.9rem; margin: 13px 15px 14px 15px;}
.navbar-nav>li>.dropdown-menu{top:auto; left:auto; right:0px; border: 1px solid #ffffff;}
.navbar-nav>li>.dropdown-menu>.user-header{background-color: #3c8dbc; color: #fff;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p { font-size: 14px;}
.navbar-nav > .user-menu > .dropdown-toggle::after {   content: none; }  //remove arrow in dropdown
.btn-outline-info:not(:disabled):not(.disabled):focus{color:#ffffff;} //need to check
.navbar-nav > .user-menu > .dropdown-menu > .user-body{ border-bottom: unset;}
.navbar-nav>li>.dropdown-menu>.user-body>div>div{width:33.33%}
.navbar-nav>li>.dropdown-menu>.user-footer> div > .btn{color:unset !important;}
.navbar-nav>li>.dropdown-menu>.user-footer> div > .btn:focus, .navbar-nav>li>.dropdown-menu>.user-footer> div > .btn:active, .navbar-nav>li>.dropdown-menu>.user-footer> div > .btn:hover{ color:#fff !important;}
.navbar-nav>li>.dropdown-menu>.user-footer>.pull-left{float:left !important;}
.navbar-nav>li>.dropdown-menu>.user-footer>.pull-right{float:right !important;}
.main-header .navbar .nav>.active>a{background: rgba(0,0,0,0.1); color: #f6f6f6;}




/*aside //sharmin@boomeramgdigitalbd.com*/
.user-panel .image { padding-left: 0.2rem !important; }
.user-panel img { width: 3.1rem; height:50px !important; margin-top: 7px; }
.user-panel a, .user-panel span{  color: #FFFFFF !important;  } 
.user-panel .fas { font-size: 10px !important }

.main-sidebar{ background-color: #222d32; overflow-x: hidden;} /*Sidebar Background Color*/
.main-sidebar> .sidebar{height: calc(100vh - (1.5rem + 1px)) !important;} /*Sidebar Height*/
.main-sidebar .brand-link{ background-color: #367fa9 !important; color:#FFFFFF;}
.elevation-4{ box-shadow: none !important;}
.badge-info{background-color: #3c8dbc !important; padding: 4px 6px 3px 6px; color:#FFFFFF; }
.badge-green { color: #fff;  background-color: #00a65a !important; padding: 2px 6px 3px 6px; }


.sidebar > .os-padding > .os-viewport > .os-content { padding: 0px 8px 0px 0px !important;}
.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link{ border-radius: unset !important; padding: 3px 5px 3px 25px; color:#FFFFFF !important;}
.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link > i{font-size:11px !important; color:#FFFFFF;}

.nav-sidebar > .nav-item > .nav-link{ border-radius: unset !important; padding: 8px 8px 8px 17px !important; color:#FFFFFF !important;}

.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link:focus, .nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link:active, .nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link:hover{background-color: #1e282c !important; border-left:4px solid #17a2b8 !important; padding: 3px 5px 3px 21px !important;}
/*nav item hover color*/
.nav-sidebar > .nav-item.menu-open > .nav-link, .nav-sidebar > .nav-item:hover > .nav-link, .nav-sidebar > .nav-item > .nav-link:hover, .nav-sidebar > .nav-item > .nav-link:focus, .nav-sidebar > .nav-item > .nav-link:active{ background-color: #1e282c !important; border-left:4px solid #17a2b8 !important; padding: 8px 8px 8px 13px !important;}




/*Inside content-wrapper*/
.content-header { 
	padding: 15px 0px; 
}
.content-wrapper > .content{ 
	padding: 0;
}

/*FontAwesome Style*/
.fa, .fas {  font-weight: 600; }
.fa, .far, .fas {
    //font-family: "Font Awesome 5 Free";
    font-size: 14px !important;
}
/*FontAwesome icon Size for top head*/
.top-fa-size{font-size:16px !important;}

/*Content-wrapper*/
.small-box a, .small-box p, .small-box h3 {font-size:unset; color:#fff !important }


/*Footer*/
.main-footer{    border-top: 1px solid #d2d6de; color: #000000;}


/*Info-box Style*/
.info-box{padding:0;}
.info-box .info-box-icon{width:95px;border-radius:unset; box-shadow:unset;}
.info-box >.info-box-icon > .fas {font-size:40px !important;}


/*Body Content*/
.content{min-height:680px;} /*Content Height*/

.btn { color: #ffffff !important; } /*btn text color*/

.cusotme-card { border:unset !important; box-shadow: 0 0 0px rgba(0, 0, 0, 0.125), 0 3px 7px rgba(0, 0, 0, 0.2); /*box-shadow:unset !important;*/}
.cusotme-card > .card-header{background-color:unset; border-bottom:none !important; }
.cusotme-card > .card-footer{background-color:unset !important; border-top:none !important; }
.cusotme-card >form > .card-footer{background-color:unset !important; border-top:none !important; }

/*Custome Breadcrumbs*/
.breadcrumb >.breadcrumb-item > a >.fas{font-size:20px !important;}
.breadcrumb >.breadcrumb-item > a{font-size:14px !important; font-weight:400;}

/*Bootstrap Modal */
.modal-open .modal{top:5% !important;}
.modal-backdrop.show{ opacity: 0.6; width:100% !important; height: 100% !important;}
.modal-backdrop{width:100% !important; height: 100% !important;}

.modal-content{box-shadow:unset !important; border-radius:unset !important; border:unset !important;     border-left: 15px solid #17a2b8 !important;}
.modal-header{border-bottom: unset !important;}
.modal-footer{ border-top: unset !important;}

/*Bootstrap Table */
.table th, .table td{border-top:unset !important;}









