@import 'admin_lte_css.scss';

// iCheck
//@import '~icheck-bootstrap/icheck-bootstrap.css';

//Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
//@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.css';

//Toastr
@import "toastr";

// Variables
@import 'variables';

//inport My Custome css
@import 'vue_style.scss';
@import 'v-tooltip.scss';


/*BG Color */
.bg-primary{background-color: #007bff !important;}
.bg-info{background-color: #17a2b8 !important;}
.bg-success{background-color: #28a745 !important;}
.bg-warning{background-color: #ffc107 !important;}
.bg-danger{background-color: #dc3545 !important;}
.bg-yellow{background-color: #f39c12 !important;}

/*Color*/
.primary{color: #007bff !important;}
.info{color: #17a2b8 !important;}
.success{color: #28a745 !important;}
.warning{color: #ffc107 !important;}
.danger{color: #dc3545 !important;}
.yellow{color: #f39c12 !important;}

/*Some customize class*/
.pointer{cursor:pointer;}
.border-lef-style {border-left: 15px solid #17a2b8 !important;}

 /*Scrool Bar Style*/
    /* width */
    ::-webkit-scrollbar { width: 7px; }
    /* Track */ 
    ::-webkit-scrollbar-track { background: #f1f1f1;}  /**/   
    /* Handle */
    ::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0.1);  } /*888*/
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover { background: #17a2b8; } /*555*/
/*End Scrool Bar Style*/

body{
    zoom: 0.9 !important;   


    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

/*Nav Nav-bar*/
.navbar{ //padding: 8px 8px !important
}
.navbar-expand{ 
    background-color: #3c8dbc; 
    padding: 0 !important;
}
.navbar-light .navbar-nav .nav-link{ color:#FFFFFF; 
    height: auto;
    padding: 15px 15px !important; 
}
.layout-navbar-fixed .wrapper .main-header{ /*height:8.5%;*/}
.main-header >.navbar-nav>li>a:hover, .main-header >.navbar-nav>li>a:focus, .main-header >.navbar-nav>.show>a, .main-header >.navbar-nav>.show>a:active{color: #FFFFFF !important; background:#367fa9 !important; text-decoration:none}
.dropdown-menu{margin-top:1px !important; border-radius: 0px 0px 5px 5px; /*border: 1px solid #f4f6f9; */}/*box-shadow remove box-shadow:unset !important; */
.main-header >.navbar-nav > li > .dropdown-menu-left{left:0;} /*dropdown menu show from left, Cusotme Code*/
.main-header .navbar-nav .nav-item > .btn {margin: 14px 0px 10px 0px; color: #ffffff; border-color: #ffffff;}
.main-header .navbar-nav .nav-item > btn:focus, .main-header .navbar-nav .nav-item > button:active, .main-header .navbar-nav .nav-item > button:hover {background:#367fa9 !important;}
.navbar-light >.navbar-nav> .nav-item-btn {margin-left:5px !important; margin-right:5px !important;}


.badge{ font-weight:normal; padding: 2px 4px; font-size: 10px; top: 9px; line-height: .9; right: 5px;}
.dropdown-menu-lg { min-width: 280px !important; padding: 0; }
.navbar-nav>li>a{color: #ffffff; list-style:none; display:block !important;}
.navbar-nav > .user-menu .user-image{width: 1.9rem; height: 1.9rem; margin: 13px 15px 14px 15px;}
.navbar-nav>li>.dropdown-menu{top:auto; left:auto; right:0px; border: 1px solid #ffffff;}
.navbar-nav>li>.dropdown-menu>.user-header{background-color: #3c8dbc; color: #fff;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p { font-size: 14px;}
.navbar-nav > .user-menu > .dropdown-toggle::after {   content: none; }  //remove arrow in dropdown
.btn-outline-info:not(:disabled):not(.disabled):focus{color:#ffffff;} //need to check
.navbar-nav > .user-menu > .dropdown-menu > .user-body{ border-bottom: unset;}
.navbar-nav>li>.dropdown-menu>.user-body>div>div{width:33.33%}
.navbar-nav>li>.dropdown-menu>.user-footer> div > .btn{color:unset !important;}
.navbar-nav>li>.dropdown-menu>.user-footer> div > .btn:focus, .navbar-nav>li>.dropdown-menu>.user-footer> div > .btn:active, .navbar-nav>li>.dropdown-menu>.user-footer> div > .btn:hover{ color:#fff !important;}
.navbar-nav>li>.dropdown-menu>.user-footer>.pull-left{float:left !important;}
.navbar-nav>li>.dropdown-menu>.user-footer>.pull-right{float:right !important;}
.main-header .navbar .nav>.active>a{background: rgba(0,0,0,0.1); color: #f6f6f6;}




/*aside //sharmin@boomeramgdigitalbd.com*/
.user-panel .image { padding-left: 0.2rem !important; }
.user-panel img { width: 3.1rem; height:50px !important; margin-top: 7px; }
.user-panel a, .user-panel span{  color: #FFFFFF !important;  } 
.user-panel .fas { font-size: 10px !important }


.main-sidebar{/* background-color: #222d32;*/ overflow-x: hidden;} /*Sidebar Background Color*/
.main-sidebar> .sidebar{height: calc(100vh - (1.5rem + 1px)) !important;} /*Sidebar Height*/
.main-sidebar .brand-link{ 
    //background-color: #367fa9 !important; 
    color:#FFFFFF;
}
.elevation-4{ box-shadow: none !important;}
.badge-info{background-color: #3c8dbc !important; padding: 4px 6px 3px 6px; color:#FFFFFF; }
.badge-green { color: #fff;  background-color: #00a65a !important; padding: 2px 6px 3px 6px; }
//.main-sidebar > .sidebar{height:97% !important; }




/*Nav SideBar Style*/

.nav-sidebar .nav-link > .right, .nav-sidebar .nav-link > p > .right {  top: 0.9rem; }
.sidebar > .os-padding > .os-viewport > .os-content { padding: 0px 8px 0px 0px !important;}
.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link > i{font-size:11px !important; color:#FFFFFF;}

/*Nav sidebar*/
.nav-sidebar > .nav-item > .nav-link{ 
    border-radius: unset !important; padding: 8px 8px 8px 17px !important; //color:#FFFFFF !important;
}

.nav-sidebar > .nav-item > .nav-link:focus, .nav-sidebar > .nav-item > .nav-link:hover,
.nav-sidebar > .nav-item > .nav-link:active,
.nav-sidebar > .menu-open > .nav-link:focus, 
.nav-sidebar > .menu-open > .nav-link:hover, .nav-sidebar > .menu-open > .nav-link:active{
    background-color: #1e282c !important; 
    border-left:4px solid #17a2b8 !important; 
    padding: 8px 8px 8px 13px !important;
}

.nav-sidebar > .nav-item > .router-link-active,
.nav-sidebar > .menu-open > .nav-link:active{
    background-color: #1e282c !important; 
    border-left:4px solid #17a2b8 !important; 
    padding: 8px 8px 8px 13px !important;
}

/*Nav Sidebar - TreeView*/
.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link{ 
    border-radius: unset !important; padding: 3px 5px 3px 25px; //color:#FFFFFF !important;
}
.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link:focus,
.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link:active,
.nav-sidebar > .nav-item > .nav-treeview> .nav-item > .nav-link:hover{
    background-color: #1e282c !important; 
    border-left:4px solid #17a2b8 !important; 
    padding: 3px 5px 3px 21px !important;}

/*Active TreeView*/
.nav-sidebar > .nav-item > .nav-treeview > .nav-item > .router-link-active{
    background-color: #1e282c !important; 
    border-left:4px solid #17a2b8 !important; 
    padding: 3px 5px 3px 21px !important;
    color:#ffffff;
}





/*Inside content-wrapper*/
.content-header { 
	padding: 15px 0px; 
}
.content-wrapper > .content{ 
	padding: 0;
}

/*FontAwesome Style*/
.fa, .fas {  font-weight: 600; }
.fa, .far, .fas {
    //font-family: "Font Awesome 5 Free";
    font-size: 14px !important;
}
/*FontAwesome icon Size for top head*/
.top-fa-size{font-size:16px !important;}

/*Content-wrapper*/
.small-box a, .small-box p, .small-box h3 {font-size:unset; color:#fff !important }


/*Footer*/
.main-footer{    border-top: 1px solid #d2d6de; color: #000000;}


/*Info-box Style*/
.info-box{padding:0;}
.info-box .info-box-icon{width:95px;border-radius:unset; box-shadow:unset;}
.info-box >.info-box-icon > .fas {font-size:40px !important;}


/*Body Content*/
.content{min-height:680px;} /*Content Height*/

.btn { color: #ffffff !important; } /*btn text color*/

/*.btn-sm, .btn-group-sm > .btn{ padding: 0.3rem 0.3rem !important;}*/

.cusotme-card { border:unset !important; box-shadow: 0 0 0px rgba(0, 0, 0, 0.125), 0 3px 7px rgba(0, 0, 0, 0.2); /*box-shadow:unset !important;*/}
.cusotme-card > .card-header{background-color:unset; border-bottom:none !important; }
.cusotme-card > .card-footer{background-color:unset !important; border-top:none !important; }
.cusotme-card >form > .card-footer{background-color:unset !important; border-top:none !important; }

/*Custome Breadcrumbs*/
.breadcrumb >.breadcrumb-item > a >.fas{font-size:20px !important;}
.breadcrumb >.breadcrumb-item > a{font-size:14px !important; font-weight:400;}

/*Bootstrap Modal */
.modal-open .modal{top:5% !important;}
.modal-backdrop.show{ opacity: 0.6; width:100% !important; height: 100% !important;}
.modal-backdrop{width:100% !important; height: 100% !important;}

.modal-content{box-shadow:unset !important; border-radius:unset !important; border:unset !important;     border-left: 15px solid #17a2b8 !important;}
.modal-header{border-bottom: unset !important;}
.modal-footer{ border-top: unset !important;}

/*Bootstrap Table */
.table{border:1px solid #dee2e6 !important;}
.table > thead{ } /*For background*/
.table thead th{border-bottom:1px solid #dee2e6 !important; color: #007bff; font-weight:normal;}
.table th, .table td{border-top:unset !important; border-left: 1px solid #dee2e6;}
.table th{white-space: nowrap;}
.table td{white-space: nowrap;}
//.table th, .table td{border-top:unset !important; border-left:1px solid #dee2e6 !important;}
//.table th:first-child, .table td:first-child{border-left:unset !important;}
.table-striped tbody tr:hover{background-color: rgba(0, 0, 0, 0.09);}


//###################### remove arrow from Number input ####################
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//########################## style for Purchase Sales Return form input ###############################
.style-order-form-input th{
    background: rgba(0, 0, 0, 0.04);
}
.style-order-form-input > tr > td > div > input{
     padding: 2px 2px !important;
}
.style-order-form-input td{padding: 0.3rem 0.1rem 0.3rem 0.1rem;}

//########################## sortable title style for table ###############################
.sortable-title{
    cursor:pointer;
    text-decoration: underline;
}




//Web
.control-sidebar, .control-sidebar::before {
    width:25% !important; 
    overflow-y:scroll;  
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .control-sidebar, .control-sidebar::before {
     width:100% !important;    
    }
    .main-footer{
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 1032;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .control-sidebar, .control-sidebar::before {
        width:100% !important;    
    }
    .main-footer{
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 1032;
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  
    .control-sidebar, .control-sidebar::before {
        width:100% !important;    
    }
    .main-footer{
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 1032;
    }
}


/*Bootstrap Style Overwrite for input focus*/
    .form-control:focus, form .form-control:focus{
      //border-color: #ced4da;
      border-color: #fd7e14;
      box-shadow: none;
    }

/*End Bootstrap Style Overwrite for input focus*/


/*Style for search-app-one*/
    .autoCompleteSearch{
        position: relative;
    }
    .popOver{
        position: absolute;
        width: 100%;
        z-index: 1;
        background: #fff;
        border: 1px solid #dee2e6;
    }
    .popOver > input{
        //pointer-events: none;
        //outline: none;
        width:95%;
        margin:5px;
        border-right: 1px solid #dee2e6; /*Extra style*/
    }
    .optionList{
        min-height: 1px;
        max-height: 250px;
        min-width: 300px;
        max-width: 500px;
        overflow-y: scroll;
        padding: 0px;
    }
    .optionList > li{
        list-style: none;
        padding: 3px 10px;      
    }
    .optionList > li:hover{
        background: #6c757d;
        //background: #fd7e14;
        cursor: pointer;
    }
    .optionList > .selected{
        background: #6c757d;
        //background: #fd7e14;        
        color: #fff;
    }
    .optionList > .selected:hover{
        background: #6c757d;
        //background: #fd7e14;
        color: #fff;
        cursor: pointer;
    }
/*end Style for search-app-one*/

/*Style for multi-select-app-one*/
.my-multiselect{
        cursor: pointer;
        //background: rgba(0, 0, 0, 0.05);
        position: relative;
        padding: 0px 3px; 
        margin:12px 0px 0px 0px;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        //border: 1px solid #ced4da;
        border-radius: 0.2rem;
        box-sizing: border-box;
        //min-height: 33px;
        //max-width: 222px;     
        //line-height: 1.5;
    }
    .my-multiselect:focus{
        outline: none;
    }
    .selected-item-box{
        //background: #ffffff;
        min-height: 30px;
        //min-height: 36px;
        display: inline-table;
        text-align:center;
    }
    .selected-item-box > ul{
        margin-bottom: 0px !important; 
        padding-left: 0px !important;
    }
    .selected-item{
        //box-shadow: 0px 0px 6px #3e3737;
        //border: 1px solid #ced4da;
        padding: 0px 4px 0px 4px;
        border-radius: 4px;
        margin: 2px 5px 2px 5px;
        //margin: 2px 3px 2px 3px;
        list-style: none;
        float: left;
        background: #ced4da;
    }
    .selected-item > i{
        color:red;
        cursor: pointer;
        padding-left: 5px;
    }

    .popOverBox{
        position: absolute;
        width: 100%;
        left:0;
        right: 0;
        z-index:9;
        background: #ffffff;
        border: 1px solid #dee2e6;
        //display: flex;
        display: inline-table;
        //flex-direction: column;
        //top:33.75px;
        
    }
    .popOverBox > input{
        //pointer-events: none;
        //outline: none;
        width:98%;
        margin:5px;
        border-right: 1px solid #dee2e6; /*Extra style*/
    }
    .selected{
        background: #6c757d;
        //background: #fd7e14;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .optionList{
        min-height: 1px;
        max-height: 250px;
        overflow-y: scroll;
        padding: 0px;
    }
    .optionList > li{
        list-style: none;
        padding: 3px 10px;      
    }
    .optionList > li > div{ float: left; }
    .optionList > li:hover{
        background: #dee2e6;
        cursor: pointer;
    }
    .optionList > .selected{
        background: #6c757d;
        //background: #fd7e14;
        color: #fff;
    }
    .optionList > .selected:hover{
        background: #6c757d;
        //background: #fd7e14;
        color: #fff;
        cursor: pointer;
    }

    .selected > .checkbox{border: 1px solid #ffffff;}
    .checkbox{
        width: 22px; height: 22px;border: 1px solid #969696; margin-right: 7px; position: relative;
        //background: #000;
    }
    .checkbox-after{
        width: 11px; height: 6px;
        border-left: 3px solid rgb(255,255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        content: "";
        z-index: 9999;position: absolute; transform: rotate(-45deg);
        left:3px;
        top: 4px;        
    }
/*End Style for multi-select-app-one*/



/*style Form Title*/    
    .form-group > label{margin: 0px 10px !important; background: #ffffff !important; padding: 0px 2px 0px 2px !important; z-index:3;}
    .form-group > input{ margin-top: -12px !important; }
    .form-group > select{ margin-top: -12px !important; }
    .form-group > .multi-select-app-one{ margin-top: -12px !important; }
    //.form-group > .single-select-app-one{ margin-top: -12px !important; }
    .form-group > textarea{ margin-top: -12px !important; overflow-y: scroll; }
/*end style Form Title*/



/*style for product image upload*/ 
.uploader {
    width: 100%;
    background: #2196F3;
    color: #fff;
    padding: 15px 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed #fff;
    font-size: 20px;
    position: relative;
    &.dragging {
        background: #fff;
        color: #2196F3;
        border: 1px dashed #2196F3;
        .file-input label { background: #2196F3; color: #fff;  }
    }
    i { font-size: 85px; }
    .file-input {
        width: 200px;
        margin: auto;
        height: 68px;
        position: relative;
        label,
        input {
            background: #fff;
            color: #2196F3;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 4px;
            margin-top: 7px;
            cursor: pointer;
        }
        input {opacity: 0; z-index: -2; }
    }
    .images-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .img-wrapper {
            width: 160px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            //height: 150px;
            justify-content: space-between;
            background: #fff;
            box-shadow: 5px 5px 20px #3e3737;
            img { max-height: 105px;  }
        }
        .details {
            font-size: 12px;
            background: #fff;
            color: #000;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            padding: 3px 6px;
            .name {
                overflow: hidden;
                height: 18px;
            }
        }
    }
    .upload-control {
        position: absolute;
        width: 100%;
        background: #fff;
        top: 0;
        left: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        padding-bottom: 4px;
        text-align: right;
        button, label {
            background: #2196F3;
            border: 2px solid #03A9F4;
            border-radius: 3px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }
        label {
            padding: 2px 5px;
            margin-right: 10px;
        }
    }
}
/*End style for product image upload*/ 